.col-md-2{
  padding:0px;
}
.left-content{
  text-align: center;
  padding:0px;
  .entrar-container{
    a{
      float: right;
      margin-right: 80px;
      padding: 11px 41px;
      background-color: transparent;
      border-color: #2A3E54;
      color: #2A3E54;
    }
    position:absolute;
    right:0px !important;
    top:50px !important;
    display: none;
  }
  .section1{
    background-color: white;
    img{
      margin-top:181px;
    }
    col-md-8{
      text-align: center;
    }
    p.text1{
      font-size: 48px;
      color: #B3C3BD;
      text-align: justify;
      margin-top:20px;
      line-height: 1.1em;
    }
    p.text2{
      margin-top:50px;
      color:#76838F;
      font-size: 24px;
      text-align: justify;
      line-height: 1.5em;
      max-width: 472px;
    }
    p.text3{
      margin-top:20px;
      color:#76838F;
      font-size: 24px;
      text-align: justify;
      line-height: 1.5em;
      max-width: 472px;
    }
  }
  .section2{
    text-align: left;
    background-color: #F1F4F5;

    .heading-wrapper{
      padding:0px 80px;
      h3.text1{
        font-weight: bold;
        color: #4DC3BD;
        margin-top: 50px;
        margin-bottom: 0px;
        font-size: 14px;
      }
      h1.text2{
        font-size: 36px;
        color:#2A3E54;
        line-height: 1.1em;
        font-weight: lighter;
        max-width: 615px;
        margin-top: 5px !important;
        margin-bottom: -10px !important;
      }
      h2.text3{
        font-size: 18px;
        color: #76838F;
        line-height: 1.4em;
        font-weight: lighter;
        max-width: 580px;
      }
      .bottom-arrow-wrapper{
        background-image: url(../img/arrow.png);
        content: "";
        cursor: pointer;

        width: 60px;
        height: 60px;
        background-color: #4DC3BD;
        position: absolute;
        z-index: 100;
        border-radius: 30px;
        margin-top: -30px;
      }
    }
    .img-wrapper{
      padding-left: 80px;
      padding-right: 0px;
      margin-top: 35px;
      border-bottom: 2px solid #B3C3BD;
    }
  }
}
footer{
  text-align: center;
  height:auto !important;
  min-height: 300px;
  .section1{
    background-color: white;
    padding:50px 80px;
    .heading-wrapper{
      .text1{
        font-weight: bold;
        color: #4DC3BD;
        margin-bottom: 0px;
        font-size: 14px;

      }
      .text2{
        font-size: 36px;
        color:#2A3E54;
        line-height: 1.1em;
        font-weight: lighter;
      }
      .text3{
        font-size: 18px;
        color: #76838F;
        line-height: 1.4em;
        font-weight: lighter;
      }
    }
    .row.portion-wrapper{
      .portion{
        .img-bg-wrapper{
          width: 90%;
          margin: 15px auto;
          background-color: #D8D8D8;
        }
      }
    }
  }
  .section2{
    background-color: #2A3E54;
    padding:50px 80px;
    .heading-wrapper{
      .text1{
        font-weight: bold;
        color: #4DC3BD;
        margin-bottom: 0px;
        font-size: 14px;
      }
      .text2{
        font-size: 36px;
        color: #F1F4F5;
        line-height: 1.1em;
        font-weight: lighter;
      }
      .text3{
        font-size: 18px;
        color: #76838F;
        line-height: 1.4em;
        font-weight: lighter;
      }
    }
    .row.portion-wrapper{
      .portion{
        margin-top: 40px;
        .avatar-wrapper{
          width: 196px;
          height: 100px;
          margin: 0px auto;
          background-color: #D8D8D8;
        }
        h3.text1{
          color: #FFFFFF;
          font-size: 24px;
          margin-bottom: 0px;
          margin-top: 50px;
          font-weight: lighter;
        }
        h1.text2{
          font-size: 18px;
          color: #76838F;
          line-height: 1.1em;
          font-weight: lighter;
        }
        p.text3{
          font-weight: normal;
          font-size: 14px;
          color: #EFF7F4;
          line-height: 1.4em;
          font-weight: lighter;
          margin-top: 40px;
          width: 300px;
          margin: 0px auto;
        }
      }
    }
  }
  .section3{
    background-color: white;
    padding:80px 188px;
    .footer-logo{
      width: 433px;
    }
    p.text1{
      font-size: 48px;
      color: #B3C3BD;
      text-align: justify;
      margin-top:20px;
      line-height: 1.1em;
    }
  }
}
@media screen and (max-width: 991px) {
  .left-content{
    div.entrar-container{
      display:block;
    }
    .heading-wrapper{
      .bottom-arrow-wrapper{
        display: none;
      }
    }
  }
  .first-content-wrapper{
    .left-content{
      margin-bottom: 90px;
    }
  }
}
