.main-wrapper{
  padding-top: 140px;
  background-color: white;
}
.submit-wrapper{
  display: none;
}
.right-content{
  position:fixed;
  top: 0;
  height: 100%;
  width: 50%;
  right:0px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #B3C3BD;

  .bottom-arrow-wrapper{
    background-image: url(../img/arrow.png);
    content: "";
    cursor: pointer;
    display: none;
    width: 60px;
    height: 60px;
    background-color: #4DC3BD;
    position: absolute;
    z-index: 100;
    border-radius: 30px;
    margin-top: -80px;
    margin-left: 105px;
  }

  .entrar-container{
    a{
      float: right;
      margin-right: 80px;
      padding: 11px 41px;
      background-color: transparent;
      border-color: #2A3E54;
      color: #2A3E54;
    }
  }
  .header-container{
    h1.content-width{
        margin-left: 105px;
        color:#EFF7F4;
        font-size: 36px;
        font-weight: lighter;
        line-height: 1.5em;
        font-family: 'Open Sans';
    }
    margin-top: 64px;
  }
  .header-container1{
    h1.content-width{
        margin-left: 105px;
        color:#EFF7F4;
        font-size: 36px;
        font-weight: lighter;
        line-height: 1.4em;
        font-family: 'Open Sans';
        margin-top: 10px !important;
    }
  }
  .list-container{
    li{
      position: relative;
      border-top: 2px solid #EFF7F4;
      list-style: none;
      .li-wrapper{
        padding: 30px 105px;

        .name-container{
          color:#2A3E54;
          font-weight:normal;
          width: 40%;
          margin-bottom: 0px;
        }
        .fullname-container{
          color:#EFF7F4;
          font-weight: lighter;
          font-size: 24px;
          position:absolute;
          margin-top: -30px;
          width: 100%;
        }
        .fullname-container input{
          background-color: transparent;
          width:100%;
          border:0;
          outline: none;
          padding-left: 160px;
          padding-right: 210px;
        }
        .tick{
          width: 50px;
          height: 50px;
          position: absolute;
          right: 20px;
          top: 13px;
          background: url(../img/tick.png) no-repeat;
          display: none;
        }
      }
      .pink-banner{
        display: none;
        padding: 12px 105px;
        background-color: #ED7C89;
        p{
          color:#EFF7F4;
          font-weight: normal;
          font-size: 14px;
          margin-bottom: 0px;
        }
      }
    }
    li:last-child{
      border-bottom: 2px solid #EFF7F4
    }
  }
  .button-container{
    margin-top: 20px;
    .content-width{margin-left: 105px;}
    a{
      color:#EFF7F4;
      font-size: 18px;
      font-weight: lighter;
      padding: 16px 60px;
      background-color: #4DC3BD;
      border: none;
      border-radius: 5px !important;
    }
  }
}

@media screen and (max-width: 991px) {

  .right-content{
    position: relative !important;
    width: 100% !important;
    top: 0 !important;
    .row.entrar-container{
      display:none;
    }
    .bottom-arrow-wrapper{
      display: block;
    }
    .list-container{
      padding: 25px 0px  !important;
      li{
        display: block;
      }
      .name-container{
        width: 100% !important;
        margin-bottom: 0px;
      }
      .fullname-container{
        margin-left: 0px !important;
        width: 100% !important;
        position: relative !important;
        margin-top: 0px !important;
        input{
          padding-left: 0px !important;
          padding-right: 0px !important;
        }
      }
    }
    .header-container {
        margin-top: 0px;
    }
  }
  .first-content-wrapper{
    .left-content{
      padding-bottom: 50px;
    }
  }
  .main-wrapper{
    padding-top: 0px;
  }
}
