@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Light.woff') format('woff'),
        url('../fonts/OpenSans-Light.ttf') format('truetype'),
        url('../fonts/OpenSans-Light.svg#AvenirNext-UltraLightItalic') format('svg');
    font-weight: 200;
    font-style: normal;
}
